PORT=3000
NODE_ENV=development
ADMIN_API_KEY=change_me_to_a_long_random_string
CBE_RECEIPT_BASE=https://apps.cbe.com.et:100/
CBE_MOBILE_RECEIPT_BASE=https://mbreciept.cbe.com.et/
CBE_RECEIPT_TIMEOUT_MS=20000
CBE_ALLOW_INSECURE_TLS=true
WEBHOOK_SIGNING_SECRET=change_me_webhook_secret
DB_PATH=./data/verify.db